@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
  font-family:Inter,sans-serif;
}
body, html {
  height:100%;
  width:100%;
  background-color:#f3f5f7;
}
#snb-body-section{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width: 100%;
  overflow: auto;
}
#snb-body__right-section {
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  z-index:5;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}
#snb-body__left-section {
  z-index:6
}
#snb-header__dom-element {
  position:sticky;
  top:0;
  left:0;
}
#snb-main__dom-element{
  -webkit-box-flex: 1;
  -ms-flex-positive:1;
  flex-grow:1;background-color:#f6f6f6;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}
#snb-main__dom-element>nav:first-of-type {
  box-shadow:inset 1px 0 0 rgba(218,224,231,.5);
}
#snb-body__left-section{
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  min-width:-webkit-fit-content;
  min-width:-moz-fit-content;
  min-width:fit-content;
  max-width:-webkit-fit-content;
  max-width:-moz-fit-content;
  max-width:fit-content;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
  min-height:-webkit-fit-content;
  min-height:-moz-fit-content;
  min-height:fit-content;
  max-height:-webkit-fit-content;
  max-height:-moz-fit-content;
  max-height:fit-content;
  top:0;
  left:0;
  position:sticky;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
  border-radius: 12px;
}